
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.sidebar {
  height: max-content;
  background-color: #103955;
  height: 100vh;
  width: 390px;

}
.sidebar-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
}

.title {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #0099CB;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -40px;
}

.title2 {
  font-size:19px;
  font-family: 'Poppins', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.orange-text {
  color:#FE8926;
}

.Nav {
  margin-top: 200px;
}


.links {
 display: flex;
 flex-direction: row;
  justify-content:baseline;
  align-items: center;
  list-style-type: none;
  padding: 25px 0; /* size of row*/
  padding-left: 45px;
  color: white;
  text-decoration: none;
  font-size: 26px;
}

.links svg { /* svg == link icons*/
  margin-right: 45px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
.Nav .links svg {
  vertical-align: middle;
}

.sidebar .links a { /*a == fonts*/
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin: 25px;
}

.Nav .links:hover{
  cursor: pointer;
  background-color: #fe8926;
  }

.Nav .links.active{
background-color: #fe8926;
  }
  

.login {
    display: flex;
    list-style-type: none;
    font-size: 13px;
    padding-top: 400px;
    padding-left: 20px;
  }
  
.login a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;

  }

  .login svg {
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.login-box .login svg {
  font-size: 30px;
  vertical-align: middle;
  color: #fe8926;
}

.login-box .login a {
  font-size: 15px;
}
