.login-page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background: #103955;
  width: 450px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px; /* add a margin bottom to create space */
}

input[type="text"],
input[type="password"] {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #dbd9d9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

button[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fe8926;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #ff7300;
}

.message {
  margin: 15px 0 0;
  text-decoration: none;
  color: white;
}